@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-Orbitron: "Orbitron", "sans-serif";
    --font-Bai: "Bai Jamjuree", "sans-serif";
    /* --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji'; */
}
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components{
  .label {
    @apply block mb-1 text-gray-500 dark:text-gray-300 font-medium;
  }

  .input{
    @apply block w-full border rounded-md shadow-sm text-gray-400 focus:outline-none dark:bg-stone-900 border-gray-300 dark:border-gray-500 p-2;
  }

  .input-error {
    @apply text-sm text-red-500 dark:text-red-400;
  }

  .button{
    @apply text-white p-2 md:px-4 md:py-2 rounded bg-emerald-500 hover:bg-emerald-400 cursor-pointer
  }
}
